#admin #adminHeader{
    min-height: 100vh;
    height: 100%;
    background: white;
    .area-logo{
        padding: 1.3em;
        text-align: center;
        font-weight: 700;
    }
    hr{
        margin: .4em 0;
    }
    .navegacao{
        .nav-title{
            text-align: center;
            font-weight: 900;
            font-size: 26px;
        }  
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            padding: 0;
            li{
                padding: 1em 2em;
                border-bottom: 1px solid black;
                width: 100%;
                text-align: center;
                border-radius: 1em;
                &:hover{
                    background: rgb(216, 216, 216);
                    cursor: pointer;
                }
                a{
                    @extend .text-dark;
                    font-weight:600;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}