#admin #home{
    padding: 1em;
    .area-indice{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1em;
        .indice{
            background: white;
            display: flex;
            padding: 1em;
            justify-content: space-between;
            border-radius: .5em;
            box-shadow: 1px 0px 1px 0px black;
            .left{
                .numero{
                    color: $blue;
                    font-weight:600;
                }
                .nome{
                    font-weight:800;
                }
            }
            .right{

            }
        }
    }
    .area-noticias-recentes{
        border-radius: .5em;
        padding: 1em;
        margin-top: 1em;
        background: white;
        .titulo{
            font-weight: 700;
        }
    }
}